<div class="linkslist">
  <p class="asidetitle"><%= __('友情链接') %></p>
    <ul>
      <li><a href="https://blog.csdn.net/qq_15560063/" target="_blank">我的CSDN博客</a></li>
      <li><a href="https://arvin-wang.github.io/" target="_blank">Arvin's Blog</a></li>
      <li><a href="http://www.chengfeilong.com/" target="_blank">Scott's Blog</a></li>
      <li><a href="http://www.wecho.cc/" target="_blank">SNlone's Blog</a></li>
      <li><a href="http://u-hey.github.io/" target="_blank">Uhey's blog</a></li>
      <li><a href="http://www.siitake.cn/" target="_blank">香菇社长</a></li>
      <li><a href="http://zhaoyuxiang.cn/" target="_blank">天道总司</a></li>
    </ul>
</div>
