<div class="linkslist">
  <p class="asidetitle"><%= __('友情链接') %></p>
    <ul>
      <li><a href="http://www.chengfeilong.com/" target="_blank">Scott's Blog</a></li>
      <li><a href="http://www.wecho.cc/" target="_blank">SNlone's Blog</a></li>
      <li><a href="http://u-hey.com/" target="_blank">Uhey's Blog</a></li>
      <li><a href="http://www.siitake.cn/" target="_blank">香菇社长</a></li>
      <li><a href="http://blog.thkira.com/" target="_blank">兰陵の废宅基地</a></li>
      <li><a href="http://gaohaoyang.github.io/about/" target="_blank">HyG</a></li>
      <li><a href="http://zhangwenli.com/blog/" target="_blank">羡辙杂俎</a></li>
      <li><a href="http://zhaoyuxiang.cn/" target="_blank">天道总司</a></li>
    </ul>
</div>
